.l-content {
	$padding = 15px;

	padding: $padding;
}

.l-topic {
	border-top: 1px solid rgba(0, 0, 0, .2);
	padding-top: 20px;
	margin-top: 20px;

	&:first-child {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
	}

	&_header {
		font-size: 30px;
		margin-bottom: 10px;
		font-family: 'Roboto Slab';
		font-weight: 700;
		text-shadow: 0 1px 1px rgba(0,0,0,.6);
	}

	&_paragraph {
		font-size: 15px;
		line-height: 22px;
		padding: 3px 0;
	}
}

.l-features {
	&_block {
		display: inline-block;
		vertical-align: top;
		width: 33%;
		margin-top: 15px;

		&:last-child {
			width: 100%;
		}
	}

	&_subheader {
		font-size: 22px;
		font-family: 'Roboto Slab';
		text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
		margin-bottom: 5px;
	}

	&_list {
		list-style-type: square;
		list-style-position: inside;
		line-height: 22px;
		font-size: 15px;

		&__sublist {
			padding-left: 15px;
			list-style-type: disc;
		}
	}
}