.l-footer {
	font-size: 13px;
	vertical-align: top;
	padding: 5px 10px;
	line-height: 18px;
	width: 720px;
	margin: 0 auto;
	text-align: center;
}

.l-people {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}