body {
	background-color: $colorLight;
}

a {
	link-color: #fff, #eee, #aaa, #eee;
}

.l-wrapper {
	width: 960px;
	box-shadow: 5px 0 10px -5px rgba(0, 0, 0, .5);
	font-family: $font;
	color: $colorFont;
	font-size: 14px;
}