body {
	background-color: $colorLight;
	font-family: $font;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

a {
	link-color: #fff, #eee, #aaa, #eee;
}

.l-wrapper {
	width: 720px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	background-color: $colorContent;
	color: $colorFont;
	font-size: 14px;
}