.l-headlink {
	text-align: center;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-left: -75px;
	position: fixed;
}

.l-home-link {
}

.l-logo {
	width: 55px;
	border-radius: 10px;
}

.l-navigation {
	text-align: center;
	background: rgba(0,0,0,.4);

	&_item {
		display: inline-block;
	}

	&_link {
		text-decoration: none;
		font-size: 16px;
		padding: 7px 10px;
		display: block;

		&:hover {
			background-color: rgba(0, 0, 0, .1);
		}
	}
}