.l-headlink {
	text-align: center;
	padding: 10px;
}

.l-home-link {
}

.l-logo {
	width: 100px;
	border: 3px solid white;
	border-radius: 20px;
}

.l-navigation {
	&_link {
		display: block;
		text-decoration: none;
		font-size: 18px;
		padding: 3px 10px;

		&:hover {
			background-color: rgba(0, 0, 0, .1);
		}
	}
}