@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

$fontPrimary = 'Open Sans';
$fontSecondary = Verdana;
$fontFamily = sans-serif;
$font = $fontPrimary, $fontSecondary, $fontFamily;

$colorDarkGreen = #3c631b;
$colorMiddleGreen = #76974a;
$colorLight = #efefad;
$colorFont = #fff;

$widthSidebar = 250px;