@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

$fontPrimary = 'Roboto Slab';
$fontSecondary = Verdana;
$fontFamily = sans-serif;
$font = $fontPrimary, $fontSecondary, $fontFamily;

$colorDarkGreen = rgba(0,0,0,0);
$colorContent = rgba(0,0,0,.6);
$colorLight = #eee;
$colorFont = #fff;

$widthSidebar = 250px;