@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic");
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
audio:not([controls]) {
  display: none;
}
ol,
ul {
  list-style: none;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
hr {
  border: 0px none;
  background: none;
  outline: none;
  height: 0;
  margin: 0;
}
[hidden] {
  display: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 9;
}
input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
  height: auto;
}
select[multiple] {
  height: inherit;
  background-color: #fff;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #fff;
  background-color: initial;
  line-height: 18px;
}
textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}
input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  outline: 1px dotted #666;
}
input[type="image"] {
  border: 0;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
}
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
}
body {
  background-color: #eee;
  font-family: 'Roboto Slab', Verdana, sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
a:link {
  color: #fff;
}
a:visited {
  color: #eee;
}
a:hover {
  color: #eee;
}
a:active {
  color: #aaa;
}
.l-wrapper {
  width: 720px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 14px;
}
.l-headlink {
  text-align: center;
  padding: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-left: -75px;
  position: fixed;
}
.l-logo {
  width: 55px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.l-navigation {
  text-align: center;
  background: rgba(0,0,0,0.4);
}
.l-navigation_item {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.l-navigation_link {
  text-decoration: none;
  font-size: 16px;
  padding: 7px 10px;
  display: block;
}
.l-navigation_link:hover {
  background-color: rgba(0,0,0,0.1);
}
.l-footer {
  font-size: 13px;
  vertical-align: top;
  padding: 5px 10px;
  line-height: 18px;
  width: 720px;
  margin: 0 auto;
  text-align: center;
}
.l-people {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  text-align: left;
}
.l-content {
  padding: 15px;
}
.l-topic {
  border-top: 1px solid rgba(0,0,0,0.2);
  padding-top: 20px;
  margin-top: 20px;
}
.l-topic:first-child {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}
.l-topic_header {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0,0,0,0.6);
}
.l-topic_paragraph {
  font-size: 15px;
  line-height: 22px;
  padding: 3px 0;
}
.l-features_block {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 33%;
  margin-top: 15px;
}
.l-features_block:last-child {
  width: 100%;
}
.l-features_subheader {
  font-size: 22px;
  font-family: 'Roboto Slab';
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  margin-bottom: 5px;
}
.l-features_list {
  list-style-type: square;
  list-style-position: inside;
  line-height: 22px;
  font-size: 15px;
}
.l-features_list__sublist {
  padding-left: 15px;
  list-style-type: disc;
}
